/**
 * @file
 * This file is used to style the facet blocks.
 */

.block-facets, .block-facets-summary, .block-search-api-sorts {
  margin: 0 0 28px;
  padding: 1.5rem;
  border: 1px solid #fcece7;
  background-color: #fff;
}

.block-facet--checkbox li {
  list-style-type: none;
}

.block-facet--checkbox .facet-item label {
  display: inline-block;
  margin-left: 0.6rem;
}

.facet-item input[type="checkbox"] {
  min-width: auto;
}

.facets-widget-checkbox .item-list__checkbox {
  padding-left: 1.2rem;
}